{% extends "base.html" %}
{% block cursosa %}active{% endblock %}
{% block titulo %}Lista de Cursos{% endblock %}
{% block content %}
<div style="width:50%; margin:auto;">
{% if lista_de_cursos %}
	<ul class="list-group">
	{% for curso in lista_de_cursos %}
		<li class="list-group-item"><h4 align=center>{{ curso.getCadena }}</h4></li>
	{% endfor %}
	</ul>
{% else %}
	<div class="alert alert-danger">
      <strong>Error!</strong> No hay ningún curso disponible.
    </div>
{% endif %}
<br><p><a class="btn btn-primary" href="{% url 'gestion:nuevocurso' %}">Nuevo Curso</a></p>
</div>
{% endblock %}
