{% extends "base.html" %}
{% block carrerasa %}active{% endblock %}
{% block titulo %}Lista de Carreras{% endblock %}
{% block content %}
<div style="width:50%; margin:auto;">
{% if lista_de_carreras %}
	<ul class="list-group">
	{% for carr in lista_de_carreras %}
		<li class="list-group-item"><h4 align=center>{{ carr.nombre }}</h4></li>
	{% endfor %}
	</ul>
{% else %}
	<div class="alert alert-danger">
      <strong>Error!</strong> No hay ninguna carrera disponible.
    </div>
{% endif %}
<br><p><a class="btn btn-primary" href="{% url 'gestion:nuevacarrera' %}">Nueva Carrera</a></p>
</div>
{% endblock %}
