{% extends "base.html" %}
{% block titulo %}Nueva Matrícula{% endblock %}
{% block matricularmea %}active{% endblock %}
{% block content %}
{% if lista_de_cursos %}
	 <div class="list-group" style="margin:auto; width:60%">
	 {% for curso in lista_de_cursos %}
  	  <a href="{% url 'gestion:matricula' curso.id %}" class="list-group-item{% if not curso.abierto %} disabled{% endif %}"><h4 align=center><strong>{{ curso.getCadena }}</strong> - <b class="text-{% if curso.abierto %}success{% else %}danger{% endif %}">Plazo de matrícula 
		{% if curso.abierto %}
			abierto
		{% else %}
			cerrado
		{% endif %}</b>
		 ({{ curso.inicioMatricula }} - {{ curso.finMatricula }})</h4></a>
      {% endfor %}
	 </div>
{% else %}
	<div class="alert alert-danger">
      <strong>Error!</strong> No hay ningún curso disponible.
    </div>
{% endif %}
{% endblock %}
